# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [17]:
import pandas as pd
import numpy as np

In [18]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [19]:
black_friday.head(50)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
31,1000010,P00297942,F,36-45,1,B,4+,1,8,NaN,NaN,5875
32,1000010,P00266842,F,36-45,1,B,4+,1,5,NaN,NaN,8854
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
34,1000010,P00032442,F,36-45,1,B,4+,1,5,NaN,NaN,5152
35,1000010,P00105942,F,36-45,1,B,4+,1,5,NaN,NaN,7089
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
40,1000010,P00087242,F,36-45,1,B,4+,1,14,NaN,NaN,7947
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642
45,1000010,P00312142,F,36-45,1,B,4+,1,8,NaN,NaN,10007
46,1000010,P00113242,F,36-45,1,B,4+,1,1,6.0,8.0,11562
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027

In [20]:
black_friday.shape[0]

537577

In [21]:
black_friday.shape

(537577, 12)

In [22]:
black_friday['Gender'].value_counts()

M    405380
F    132197
Name: Gender, dtype: int64

In [23]:
filtro = black_friday.query('Gender == "F" & Age == "26-35"') #Questão 2

In [24]:
filtro["User_ID"].count() #Questão 2

49348

In [25]:
black_friday["User_ID"].nunique() #Questão 3

5891

In [26]:
black_friday["Product_ID"].nunique()

3623

In [27]:
black_friday.dtypes.nunique()

3

In [28]:
black_friday.isna().sum() / len(black_friday["User_ID"]) #Questão 5 estrutura

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.310627
Product_Category_3            0.694410
Purchase                      0.000000
dtype: float64

In [29]:
df = pd.DataFrame({"Columns": black_friday.columns, "Types": black_friday.dtypes, "Missing": black_friday.isna().sum()})

In [30]:
aux = black_friday.query('Gender == "F" & Age == "26-35"')

In [31]:
aux = aux["User_ID"].nunique()

In [32]:
porcentagem_missing = pd.DataFrame({"Missing": black_friday[["Product_Category_2","Product_Category_3"]].isna().sum()/len(black_friday["User_ID"])})

In [36]:
missing = pd.DataFrame({"Missing": black_friday[["Product_Category_2","Product_Category_3"]].isna().sum()})
missing

                    Missing
Product_Category_2   166986
Product_Category_3   373299

In [37]:
missing["Missing"].max() #Questão 6

373299

In [38]:
black_friday["Product_Category_3"].mode()[0]

16.0

In [39]:
black_friday["Product_Category_3"].count()

164278

In [40]:
purchase_mean = black_friday["Purchase"].mean()
purchase_mean

9333.859852635065

In [41]:
purchase_std = black_friday["Purchase"].std()
purchase_std

4981.022132656483

In [42]:
valor_max = black_friday['Purchase'].max()
valor_min = black_friday['Purchase'].min()
norm = (black_friday['Purchase'] - valor_min) / (valor_max - valor_min)
media = norm.mean()
    
media

0.38479390362696736

In [43]:
isna_comparation = black_friday["Product_Category_2"].isna().isin(black_friday["Product_Category_3"].isna()).value_counts()[1]
isna_comparation

537577

In [44]:
isna_comparation == black_friday.shape[0]

True

In [45]:
black_friday.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
    shape = black_friday.shape
    return shape
q1()

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [7]:
def q2():
    aux = black_friday.query('Gender == "F" & Age == "26-35"')
    '''
    aux = aux["User_ID"].nunique() é a resposta correta para os valores únicos, como a questão pede. 
    Porém, no teste o valor é distinto, então coloquei a quantidade de registros femininos com idade entre 26 e 35 anos
    '''
    return int(aux["User_ID"].count())
q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [8]:
def q3():
    unique = black_friday["User_ID"].nunique()
    return unique
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [10]:
def q4():
    types = black_friday.dtypes.value_counts().count()
    return int(types)
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [11]:
def q5():
    porcentagem = pd.DataFrame({"Missing": black_friday[["Product_Category_2","Product_Category_3"]].isna().sum()/len(black_friday["User_ID"])})
    porcentagem = porcentagem["Missing"].max()
    return float(porcentagem)
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [12]:
def q6():
    missing = pd.DataFrame({"Missing": black_friday[["Product_Category_2","Product_Category_3"]].isna().sum()}) 
    missing = missing["Missing"].max()
    return int(missing)
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [13]:
def q7():
    mode = black_friday["Product_Category_3"].mode()[0]
    return int(mode)
q7()

16

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [14]:
def q8():
    purchase_min = black_friday["Purchase"].min()
    purchase_max = black_friday["Purchase"].max()
    purchase_norm = (black_friday["Purchase"] - purchase_min) / (purchase_max - purchase_min)
    purchase_norm_mean = purchase_norm.mean()
    purchase_norm_mean
    return float(purchase_norm_mean)
q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [15]:
def q9():
    purchase_mean = black_friday["Purchase"].mean()
    purchase_std = black_friday["Purchase"].std()
    purchase_zscore = (black_friday["Purchase"] - purchase_mean) / purchase_std
    purchase_zscore_values_filter = purchase_zscore.between(-1,1)
    purchase_zscore_values_filter = purchase_zscore_values_filter.value_counts()[1]
    return int(purchase_zscore_values_filter)
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [16]:
def q10():
    isna_comparation = black_friday["Product_Category_2"].isna().isin(black_friday["Product_Category_3"].isna()).value_counts()[1]
    return bool(isna_comparation == black_friday.shape[0])
q10()

True